extends main.jade

block content
	div(ng-controller="Inbox")
		h1(style="float: left;") Inbox
		button.btn.btn-primary(style="float: right; margin-top: 25px;" ng-click="addNew()")
			i.fa.fa-plus
			| &nbsp;Nieuw 
		input.form-control(type="text" ng-model="filter" placeholder="Filter...")
		table.table.table-bordered.table-hover(style="margin-top: 20px;")
			thead
				tr
					th Afzender
					th Titel
					th Datum
			tbody
				tr(ng-repeat="msg in messages | filter: filter" ng-click="rowClicked(msg._id)")
					td {{ msg.sender.firstname }} {{ msg.sender.lastname }}
					td {{ msg.title }}
					td {{ msg.date.getDate() }}/{{ msg.date.getMonth() }}/{{ msg.date.getFullYear() }} {{ msg.date.getHours() }}:{{ msg.date.getMinutes() }}
		p(ng-show="!messages.length" style="text-align: center;") Je hebt geen berichten ontvangen.