extends ./main.jade

block content
	h1 Lorem ipsum dolor sit amet
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At facilis obcaecati rem possimus perspiciatis porro sit, libero adipisci consequatur numquam. Suscipit commodi, repellendus iusto aperiam culpa minus amet nobis recusandae lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ad, perferendis aut consectetur nemo magni, qui eveniet alias eaque aliquam delectus necessitatibus quod maxime cumque in dolorum est. Similique, eaque.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam rerum est adipisci, laudantium mollitia vitae recusandae harum tenetur, ducimus consequatur optio, nostrum qui excepturi possimus inventore! Dignissimos iste deserunt impedit.