extends ../main.jade

block content
	div(ng-controller="AuthForgotPassword")
		form#forgotPasswordform.col-md-offset-3.col-md-6(style="margin-top: 20px;")
			input.form-control(style="margin-bottom: 5px;", type="text", placeholder="Studentnummer", ng-model="studentNumber")
			input.form-control(ng-click="processForm()", type="submit", value="Reset", style="margin-top: 10px;")
