extends ../main.jade

block content
	form#registerform.col-md-offset-3.col-md-6(style="margin-top: 20px;")
		input.form-control(style="margin-bottom: 5px;" type="text", placeholder="Studentnummer")
		input.form-control(type="text", placeholder="Password")
		input.form-control(type="submit", value="Login", style="margin-top: 10px;")
	
script(src="/public/js/spa/auth/login.js")