extends ../main.jade

block content
	div(ng-controller="MyGamesController")
		h1 Mijn Tournament Games
		p Je doet nog niet mee met een van de tournament games.
		hr
		p
			| Klik 
			a(ui-sref="games") hier 
			| om alle games te bekijken.