html
	head
		title DaVinci GameTournament
		link(rel="shortcut icon", href="/public/images/favicon.png")
		link(rel="stylesheet", href="/public/css/style.css")
		link(rel="stylesheet", href="/public/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/public/bootstrap-select/dist/css/bootstrap-select.min.css")
	body(ng-app="app")
		div(ui-view="")
		script(src="/public/jquery/dist/jquery.min.js")
		script(src="/public/bootstrap/dist/js/bootstrap.min.js")
		script(src="/public/angular/angular.js")
		script(src="/public/angular-resource/angular-resource.js")
		script(src="/public/angular-ui-router/release/angular-ui-router.js")
		script(src="/public/angular-jwt/dist/angular-jwt.min.js")
		script(src="/public/bootstrap-select/dist/js/bootstrap-select.min.js")
		script(src="/public/js/frontend.js")