
div(style="background-color: rgb(232, 232, 232); border: 1px solid rgba(185, 185, 185, 0.6); height: 40px;")
	ul(style="width: 100%; height:60px; list-style-type: none; display: inline; padding: 0;")
		li.col-md-4(ng-click="groupShowClicked()" style="cursor: pointer; height: 100%; background-color: rgb(232, 232, 232); display: inline-block; font-size: 18px; border-right: 2px solid rgba(185, 185, 185, 0.8); text-align: center; padding-top: 8px; color: rgb(102, 102, 102);") Groep
		li.col-md-4(ng-click="groupChatClicked()" style="cursor: pointer; height: 100%; background-color: rgb(232, 232, 232); display: inline-block; font-size: 18px; border-right: 2px solid rgba(185, 185, 185, 0.8); text-align: center; padding-top: 8px; color: rgb(102, 102, 102);") Chat
		li.col-md-4(ng-show="isMe" ng-click="groupManageClicked()" style="cursor: pointer; height: 100%; background-color: rgb(232, 232, 232); display: inline-block; font-size: 18px; text-align: center; padding-top: 8px; color: rgb(102, 102, 102);") Beheren