extends ../main.jade

block content
	div(ng-controller="InboxCreate" style="margin-bottom: 20px;")
		a(ui-sref="inbox")
			i.fa.fa-arrow-left
			| &nbsp;Terug naar inbox
		div.panel.panel-default(style="margin-top: 20px;")
			p Test