extends ../main.jade

block content
	div(ng-controller="InboxShow" style="margin-bottom: 20px;")
		a(ui-sref="inbox")
			i.fa.fa-arrow-left
			| &nbsp;Terug naar inbox
		div.panel.panel-default(style="margin-top: 20px;")
			div.panel-heading 
				| Bericht 
				div(style="color: grey; float: right;") verstuurd door {{ message.sender.firstname }} {{ message.sender.lastname }} op {{ message.date.getDate() }}/{{ message.date.getMonth() }}/{{ message.date.getFullYear() }} om {{ message.date.getHours() }}:{{ message.date.getMinutes() }}
			div.panel-body 
				h3(style="text-align: center; clear: both;") {{ message.title }}
				hr
				p(ng-bind-html="message.content")
		button.btn.btn-danger(ng-click="removeMessage()" style="float: right;") Verwijder Bericht
