extends ../main.jade

block content
	div(ng-controller="InboxShow" style="margin-bottom: 20px;")
		a(ui-sref="inbox")
			i.fa.fa-arrow-left
			| &nbsp;Terug naar inbox
		div.panel.panel-default(style="margin-top: 20px;")
			div.panel-heading 
				| Ik zuig piemels
				div(style="color: grey; float: right;") verstuurd door Patrick Vonk op 18-04-2016 om 13:40:21
			div.panel-body
				p Dit is een verhaal van patrick vonk en hij scukt dicks
				p Hij houd ook van meerdere grotere dingne in zijn reet
				p Druk nu hier om van hem te houden