extends ../main.jade

block content
	div(ng-controller="GroupsCreate")
		h1 Maak een groep
		h3(style="color: red") {{ errorMsg }}
		h3(style="color: #00DD00") {{ msg }}
		form#groupcreateform.col-md-offset-3.col-md-6(style="margin-top: 20px;")
			input.form-control(style="margin-bottom: 5px;", type="text", placeholder="Naam", ng-model="name")
			input.form-control(type="text", placeholder="Omschrijving", ng-model="description")
			input.form-control(ng-click="processForm()", type="submit", value="Maak aan", style="margin-top: 10px;")